<footer class="w-full text-white/80 py-4 bg-gray-800/50 mt-10 border-t border-t-gray-700/50">
  <div class="lg:mx-auto lg:w-3/4 mt-5 p-3 flex flex-col gap-3">
    <p class="font-bold">Contacto</p>
    <p class="flex gap-1 items-center">
      <lucide-angular [img]="Mail" class="my-icon text-white"></lucide-angular>
      {{ email }}
    </p>

    <p class="flex gap-1 items-center">
      <lucide-angular
        [img]="Location"
        class="my-icon text-white"
      ></lucide-angular>
      Sevilla Valle - Colombia
    </p>
  </div>
  <p class="text-center">
    &copy; 2025 All rights reserved / Todos los derechos reservados
  </p>
</footer>
