<aside
  class="w-1/2 min-w-80 min-h-screen text-white border-r border-gray-700/50 shadow-gray-700/20 flex flex-col"
>
  <a
    routerLink="/admin"
    class="p-4 border-b border-gray-700 hover:bg-gray-400/20"
    routerLinkActive=""
    >Admin dashboard</a
  >

  <a
    routerLink="/admin/blog"
    class="p-4 border-b border-gray-700 hover:bg-slate-400/20"
    routerLinkActive="bg-slate-400/40"
    >Blog</a
  >

  <a
    routerLink="/admin/projects"
    class="p-4 border-b border-gray-700 hover:bg-slate-400/20"
    routerLinkActive="bg-slate-400/40"
    >Projects</a
  >

  <a
    routerLink="/admin/resources"
    class="p-4 border-b border-gray-700 hover:bg-slate-400/20"
    routerLinkActive="bg-slate-400/40"
    >Resources</a
  >
</aside>
