<div class="lg:mx-auto lg:w-3/4 mt-5 p-3">
  <h2 class="text-white font-bold text-2xl">Proyectos destacados</h2>
  <div class="mt-2 grid grid-cols-1 sm:grid-cols-2 xl:sm:grid-cols-3 gap-5">
    @for (item of projects; track item; let idx = $index) {
      <div
        class="bg-slate-800/50 hover:bg-slate-700/50 transition-all duration-300 p-4 border border-slate-500
        rounded-lg shadow shadow-slate-500/10 max-w-md flex flex-col justify-between"
      >
        @if (item.image_url) {
          <img
            [attr.src]="item.image_url"
            alt="Project image"
            class="w-full max-h-52 rounded-lg"
          />
        } @else {
          <div class="w-full h-52">No content</div>
        }

        <a routerLink="/project/{{idx}}" class="text-white font-bold text-2xl mt-2 hover:underline">{{ item.title }}</a>
        <p class="text-white/70">
          {{ item.short_description }}
        </p>
        <div class="flex flex-wrap gap-x-5 overflow-hidden">
          @for (tech of item.stack; track tech) {
            <div
              class="bg-linear-to-tr from-blue-200/30 to-indigo-200/30 px-2 rounded-xl text-white border border-indigo-200/10 shadow my-2 h-fit"
            >
              {{ tech }}
            </div>
          }
        </div>
      </div>
    }
  </div>
</div>
