<div class="w-full w-full h-60">
  <div class="terminal_toolbar">
    <div class="butt">
      <button class="btn btn-color"></button>
      <button class="btn"></button>
      <button class="btn"></button>
    </div>
    <p class="user">estebandev{{ "@" }}portfolio: ~</p>
    <div class="add_tab">+</div>
  </div>
  <div class="terminal_body">
    <div class="terminal_promt">
      <span class="terminal_user"> estebandev{{ "@" }}portfolio: </span>
      <span class="terminal_location">~</span>
      <span class="terminal_bling">$ fastfetch</span>
      <span class="terminal_cursor"></span>
    </div>

      <pre class="terminal_content overflow-hidden">
       .---.        Name: Esteban Gonzalez
      /     \
      \.O-O./
      /`\_/`\
     //  _  \\
    | \     )|_
   /`\_`>  <_/ \
   \__/'---'\__/
      </pre>
  </div>
</div>
