<header class="bg-black/80 w-full p-3 border-b border-b-zinc-700/50">
  <div class="lg:mx-auto lg:w-3/4 flex gap-5">
    <h1 class="font-bold text-slate-200">Esteban's Website</h1>
    <a
      routerLink="/"
      routerLinkActive="text-slate-500/70"
      class="text-white/70 hover:text-white/90"
    >
      <p>Inicio</p>
    </a>

    <a
      routerLink="/portfolio"
      routerLinkActive="text-white/90"
      class="text-white/70 hover:text-white/90"
    >
      <p>Portfolio</p>
    </a>

    <a
      routerLink="/blog"
      routerLinkActive="text-white/90"
      class="text-white/70 hover:text-white/90"
    >
      <p>Blog</p>
    </a>
  </div>
</header>
