<div class="flex justify-start gap-5">
  <app-sidebar class=""></app-sidebar>
  @if(loading){
    <app-loading-spinner></app-loading-spinner>
  }
  @else{
    <div class="text-white mt-5 w-full">
      <div class="flex gap-2 mb-5">
        <div class="flex flex-col">
          <label for="user">User</label>
          <input [(ngModel)]="user" class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-max" type="text" name="user">
        </div>
        <div class="flex flex-col">
          <label for="password">Password</label>
          <input [(ngModel)]="password" class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-max" type="password" name="password">
        </div>

        <div class="flex flex-col justify-end">
        @if (!creating){
          <button
            class="text-sm px-3 py-2 rounded-md bg-green-600 text-white hover:bg-green-700 hover:cursor-pointer"
            (click)="toggleCreatePanel()"
          >
            Create
          </button>
        }@else {
          <button
            class="text-sm px-3 py-2 rounded-md bg-red-600 text-white hover:bg-red-700 hover:cursor-pointer"
            (click)="toggleCreatePanel()"
          >
            Cancel
          </button>
        }
        </div>
      </div>

      @if (creating && editProject != null) {
        <div class="flex w-full">
          <div class="mt-5 min-h-screen text-white w-full">
            <h1 class="text-white text-xl uppercase">Creating project</h1>
            <div class="mt-4 flex flex-col mr-5">
              <label class="font-bold mt-3 uppercase" for="title">Title</label>
              <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg"
              type="text" [(ngModel)]="editProject.title" name="title">

              <label class="font-bold mt-3 uppercase" for="description">Description</label>
              <textarea class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg"
              type="text" [(ngModel)]="editProject.description" name="description" rows="4"></textarea>

              <label class="font-bold mt-3 uppercase" for="visit_url">Visit URL</label>
              <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg"
              type="text" [(ngModel)]="editProject.visit_url" name="visit_url">

              <label class="font-bold mt-3 uppercase" for="source_url">Source URL</label>
              <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg"
              type="text" [(ngModel)]="editProject.source_url" name="source_url">

              <label class="font-bold mt-3 uppercase" for="youtube_url">YouTube URL</label>
              <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg"
              type="text" [(ngModel)]="editProject.youtube_url" name="youtube_url">

              <label class="font-bold mt-3 uppercase" for="image_url">Image URL</label>
              <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg"
              type="text" [(ngModel)]="editProject.image_url" name="image_url">

              <div class="flex">
                <button
                  class="text-sm p-2 rounded-md bg-green-600 text-white hover:bg-green-700 hover:cursor-pointer mt-5"
                  (click)="confirmCreate()"
                >
                 Confirm
                </button>
              </div>
            </div>
          </div>
        </div>
      }
      @else {
        <div class="flex">
          <div class="max-h-screen overflow-y-auto min-w-1/3">
            @for (item of getProjects(); track item) {
            <div
              class="border-b border-b-slate-500/30 hover:rounded-lg p-3 flex flex-col gap-2 justify-center hover:bg-slate-700/50 transition-all"
            >
              <div class="flex gap-2">
                <p class="font-semibold">{{item.id}}. {{ item.title }}</p>
              </div>
              <p class="text-white/80">{{ item.description }}</p>
              <div class="flex flex-col gap-1 text-sm text-white/60">
                <p>Visit: {{ item.visit_url }}</p>
                <p>Source: {{ item.source_url }}</p>
              </div>
              <div class="flex">
                <button
                  class="text-sm px-3 py-1 rounded-md bg-sky-600 text-white hover:bg-sky-700 hover:cursor-pointer"
                  (click)="edit(item)"
                >
                  Edit
                </button>

                <button
                  class="text-sm px-3 py-1 rounded-md bg-red-600 text-white ml-2 hover:bg-red-700 hover:cursor-pointer"
                  (click)="delete(item.id ?? -1)"
                >
                  Delete
                </button>
              </div>
            </div>
            }
          </div>

          @if(editProject != null){
            <div class="mt-5 pl-5 min-h-screen border-l border-l-slate-500/30 text-white w-full">
              <h1 class="text-white text-xl uppercase">EDITING {{editProject.id}}</h1>
              <div class="mt-4 flex flex-col">

                <label class="font-bold mt-3 uppercase" for="title">Title</label>
                <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-3/4"
                type="text" [(ngModel)]="editProject.title" name="title">

                <label class="font-bold mt-3 uppercase" for="description">Description</label>
                <textarea class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-3/4"
                type="text" [(ngModel)]="editProject.description" name="description" rows="4"></textarea>

                <label class="font-bold mt-3 uppercase" for="visit_url">Visit URL</label>
                <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-3/4"
                type="text" [(ngModel)]="editProject.visit_url" name="visit_url">

                <label class="font-bold mt-3 uppercase" for="source_url">Source URL</label>
                <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-3/4"
                type="text" [(ngModel)]="editProject.source_url" name="source_url">

                <label class="font-bold mt-3 uppercase" for="youtube_url">YouTube URL</label>
                <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-3/4"
                type="text" [(ngModel)]="editProject.youtube_url" name="youtube_url">

                <label class="font-bold mt-3 uppercase" for="image_url">Image URL</label>
                <input class="p-1 bg-slate-600/30 border border-slate-300/30 rounded-lg w-3/4"
                type="text" [(ngModel)]="editProject.image_url" name="image_url">

                <div class="flex gap-2">
                  <button
                    class="text-sm p-2 rounded-md bg-green-600 text-white hover:bg-green-700 hover:cursor-pointer mt-5"
                    (click)="confirmEdit()"
                  >
                   Confirm
                  </button>

                  <button
                    class="text-sm p-2 rounded-md bg-blue-600 text-white hover:bg-blue-700 hover:cursor-pointer mt-5"
                    (click)="cancelEdit()"
                  >
                   Cancel
                  </button>
                </div>
              </div>
            </div>
          }
        </div>
      }
    </div>
  }
</div>
